.instagram-profile-section{
    width: 85%;
    font-family: proximanNova-bold;
    color: var(--text);
}

.instagram-profile-section .profile-img img{
    border-radius: 50%;
    width: 150px;
}

.instagram-profile-section .profile-info{
    font-family: proximanNova-bold;
}

.instagram-profile-section .profile-info .profile-info-1 a{
    border-radius: 8px;
    font-size: 15px;
    font-family: proximanNova-bold;
    background-color:#EEEEEE;
}

.instagram-profile-section .profile-info .profile-info-1 a:hover{
    background-color: #DBDBDB;
}

.instagram-profile-section .profile-info .profile-info-2 span{
    font-size: 17px;
}

.instagram-profile-section .profile-info .profile-info-2 .numbers{
    font-family: proximanNova-bold;
}

.instagram-profile-section .profile-info .profile-info-3 h6{
    font-family: proximanNova-semibold;
    line-height: 0;
}

.instagram-profile-section .profile-info .profile-info-3 p{
    line-height: 1.3;
    font-size: 15px;
}

.instagram-profile-section .profile-info .profile-info-3 a{
    text-decoration: none;
    color: var(--link);
}

.instagram-profile-section .profile-info .profile-info-3 .web-link{
    font-family: proximanNova-semibold;
}

.instagram-profile-section .profile-info .profile-info-3 .web-link:hover{
    text-decoration: underline;
}

.profile-tab a{
    text-decoration: none;
    font-size: 14px;
    color: var(--text);
}

.profile-tab a:hover{
    color: var(--text);
}

.instagram-posts{
    color : var(--text);
}

.instagram-posts h2{
    font-family: proximanNova-extrabold;
}

.instagram-posts a{
    color: #3B96ED;
    font-family: proximanNova-bold;
    text-decoration: none;
}

.saved-posts, .tagged-posts{
    width: 80%;
}

.saved-posts a{
    color: #3B96ED;
    font-family: proximanNova-bold;
    text-decoration: none;
}

.saved-posts p{
    font-size: 14px;
    color: var(--text);
}

.saved-posts h4, .tagged-posts h4{
    font-family: proximanNova-extrabold;
    color: var(--text);
}

.saved-posts a:hover{
    color: var(--text);
}
