@font-face {
    font-family: proximanNova-medium;
    src: url("../../Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-medium.otf");
}

@font-face {
    font-family: proximanNova-bold;
    src: url("../../Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-bold.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proximanNova-medium;
}

.light{
    --primary : #FAFAFA;
    --secondary : #ffff;
    --text : var(--bs-dark);
    --border-color : #DBDBDB;
    --light : #ffff;
}

.dark{
    --primary : #121212;
    --secondary : #000000;
    --text : var(--bs-white);
    --border-color : #262626;
    --light : #262626;
}

.main-content{
    width: 83%;
    background-color: var(--primary);
    float: right;
    height: 100vh;
}
